package main

import (
	"log"
	"net/http"

	"github.com/gofiber/fiber/v2"
	// "google.golang.org/protobuf/types/known/timestamppb" 
)

func main() {
	app := fiber.New()

	app.Static("/greeterapp/apidocs", "./docs/slatedocs")
	app.Static("/greeterapp/stylesheets", "./docs/slatedocs/stylesheets")
	app.Static("/greeterapp/fonts", "./docs/slatedocs/fonts")
	app.Static("/greeterapp/images", "./docs/slatedocs/images")
	app.Static("/greeterapp/javascripts", "./docs/slatedocs/javascripts")

	app.Post("/ping", func(c *fiber.Ctx) error {
        return c.Status(http.StatusCreated).SendString("pong!!")
	})

	log.Fatal(app.Listen(":3000"))
}

